@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<h4>Your email address is now confirmed. You can now login and <a asp-page="/Venue/Index">add a venue</a>.</h4>