@page
@model KeepingCovidSafe.Pages.TermsAndConditionsModel
@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<div class="left-align">
    <p>This service is provided by [COMPANYNAME]</p>
    <p>Use of this service requires you to have read an accepted this site's <a href="/Privacy">Privacy policy</a> and the terms and conditions on this page.</p>
    <p>You agree to the following terms and conditions:</p>
    <ul>
        <li>This site is provided for contact tracing purposes for covid-19. You will not use the site for any other purposes.</li>
        <li>[COMPANYNAME] is not responsible for any business impact and/or losses occurred while using this service.</li>
        <li>Purchase of credit is handled via PayPal, you agree to their terms and conditions.</li>
        <li>[COMPANYNAME] cannot provide refunds on purchases.</li>
        <li>[COMPANYNAME] retains copyright and intellectual property rights of content on this site.</li>
    </ul>
</div>